@font-face {
  font-family: 'al_iconfont';  /* project id 1124751 */
  src: url('//at.alicdn.com/t/font_1124751_jnzngg79p9e.eot');
  src: url('//at.alicdn.com/t/font_1124751_jnzngg79p9e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1124751_jnzngg79p9e.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1124751_jnzngg79p9e.woff') format('woff'),
  url('//at.alicdn.com/t/font_1124751_jnzngg79p9e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1124751_jnzngg79p9e.svg#iconfont') format('svg');
}

.al{
  font-family: "al_iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.al-bumen:before {content: "\e720";}
.al-erweima1:before {content: "\e6cd";}
.al-group:before {content: "\e6a6";}
.al-iconfonticontishiwenhao:before, .al-wenhao:before {content: "\E792";}
.al-iconqian:before {content: "\e606";}
.al-huoyuedu:before{content:"\e656";}
.al-jiantou1:before{content:"\e607";}
.al-kefu:before{content:"\e60b";}
.al-kehu2:before{content:"\e604";}
.al-liebian:before{content:"\e80e";}
.al-liucun:before{content:"\e61f";}
.al-peixun:before{content:"\e605";}
.al-qian:before{content:"\e602";}
.al-sales:before{content:"\e607";}
.al-shishi:before{content:"\e6a4";}
.al-shujujiagong:before{content:"\e64b";}
.al-sousuo:before{content:"\e76f";}
.al-sousuo1:before{content:"\e61b";}
.al-tianjiayonghu:before{content:"\e77f";}
.al-tianjiayonghu1:before{content:"\e622";}
.al-tongji1:before{content:"\e644";}
.al-tubiaozhizuomoban-copy:before,.al-menu:before{content:"\e6e5";}
.al-wenhao:before{content:'\e793';}
.al-wenzhang:before{content:'\e651';}
.al-xiangqing-gaishuaixiangqing:before{content:"\e60e";}
.al-xiazai:before{content:'\e61a';}
.al-yingyongguanli:before {content: "\eb8f";}
.al-zuzhiqunzu:before{content:"\ebd8";}

.al-xiaochengxu:before{content: "\e71f";}

.al-shouqi:before{content: "\e63c";}
.al-zhankai:before{content: "\e63d";}

.al-jiantou-copy2:before{content: "\e744";}
.al-jiantou-copy3:before{content: "\e745";}
